.tem411-irregular .item{display: flex;display:-webkit-flex;flex-wrap: wrap;padding:0 .5vw;}
.tem411-irregular .box{width: 100%;}
.tem411-irregular .box .con{width: 100%;}
.tem411-irregular .box.top {height: auto;justify-content: center;}
.tem411-irregular .content .title {font-size: 1.75rem;}
.tem411-irregular .content .description{margin:10px 0 20px;}
.tem411-irregular .txt {padding: 3%;width: 100%;}
.tem411-irregular .image {background-position: center;background-size: cover;overflow:hidden;width:100%;transition: .4s ease-out;}

@media (min-width:769px){
.tem411-irregular .box{height: 50%;}
.tem411-irregular .image {height:calc(100% - 60px);}
.tem411-irregular .image img{width: 100%;opacity:0;}
.tem411-irregular .box .con{height: 100%;}
.tem411-irregular .con.content {flex-shrink: 0;height: auto;}
.tem411-irregular .content .description{max-height: 60px;line-height: 20px;overflow:hidden;}
.tem411-irregular .center {overflow: hidden;height: calc(100% - 200px);}
.tem411-irregular .txt {text-align: left;}
.tem411-irregular .box:not(.top) .title{line-height: 25px;height:auto;overflow:hidden;}
.tem411-irregular .txt{max-height: 200px;}
.tem411-irregular .image:hover {transform: translateY(-10px);}
}
@media (max-width:768px){
}