/*tem21-banner*/
.tem21-banner .tem21-banner-con{width:100%;/*height:100%;*/position:relative;overflow:hidden;}
.tem21-banner .swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.tem21-banner .swiper-slide img{width:100%;/*height:100%;*/}
.tem21-banner .swiper_icon{position:absolute;left:0;bottom:40px;width:200px;height:120px;transition:0.3s;z-index:1;display:none;border:3px solid #eee;box-sizing:content-box;}
.tem21-banner .swiper_icon:after{content:"";display:block;width:0;height:0;border:10px solid transparent;border-top-color:#eee;position:absolute;left:50%;margin-left:-10px;bottom:-23px;}
.tem21-banner .swiper_icon1{width:100%;height:100%;overflow:hidden;position:relative;}
.tem21-banner .swiper_icon2{position:absolute;left:0;top:0;width:9999999px;height:100%;transition:0.3s;}
.tem21-banner .swiper_icon img{width:200px;height:100%;float:left;}
.tem21-banner .swiper-pagination .swiper-pagination-bullet{width:30px;height:12px;border-radius:0;}
.tem21-banner .swiper-button-prev.swiper-button-black,
.tem21-banner .swiper-button-next.swiper-button-black{opacity:0.7;background:rgba(0,0,0,0.1);font-size:60px;text-align:center;width:70px;height:140px;margin-top:-70px;line-height:140px;}
@media (max-width:768px){
.tem21-banner .swiper-button-prev,
.tem21-banner .swiper-button-next{font-size:40px;text-align:center;width:40px;height:70px;margin-top:-35px;line-height:70px;}
.tem21-banner .swiper_icon{display:none!important;}
}
