/*****public_page_list_07*****/
.page_list_07{padding:1em 0;width:100%;padding:20px 0 60px;}
.page_list_07 a{width:100%;height:100%;color:#a9a9a9;font-size:12px;margin-right:5px;border-radius:0;vertical-align:middle;display:inline-block;text-align:center;height:36px;line-height:36px;width:36px;font-family:"HELVETICANEUELTPRO-THEX","微软雅黑","Arial";margin-bottom:5px;background:#fff;}
.page_list_07 a.current{color:#fff;background:#3f3f3f;}
.page_list_07 a:hover{color:#fff;background:#838383;}
.page_list_07 .pageNav{display:inline-block;width:100%;text-align:center;}
.page_list_07 .total{margin:0 8px 8px 0;padding:5px 15px;line-height:25px;color:#999;display:inline-block;font-family:"HELVETICANEUELTPRO-THEX","微软雅黑","Arial";}
.page_list_07 .pagecontrol{display:inline-block;vertical-align:middle;}
.page_list_07 .form-inline .input-group > .form-control{border-radius:0;box-shadow:none;text-align:center;width:40px;padding:5px 0;border:1px solid #eee;color:#999;}
.page_list_07 .form-inline .input-group > .form-control:focus{color:#333;}
.page_list_07 .form-inline .input-group-btn .btn{color:#999;border:1px solid #eee;border-radius:0;box-shadow:none;}
.page_list_07 .form-inline .input-group-btn .btn:hover{color:#333;background:none;}
.page_list_07 .pageNext,
.page_list_07 .pagecontrol,
.page_list_07 .pagecontrol,
.page_list_07 .total,
.page_list_07 .pagePre{display:none;}
@media (max-width:768px){
    .page_list_07{padding:20px 0;}
    .page_list_07 .pagecontrol{display:none;}
}
