/*tem03-side-picture-text*/
.tem03-side-picture-text{margin-bottom:15px;background:#fff;border:1px solid #f0f0f0;padding-bottom:15px;}
.tem03-side-picture-text .spt_pic{padding:15px 15px 0;}
.tem03-side-picture-text .spt_pic img{width:100%;background:#333;}
