/* tem23-title */
.tem23-title p{padding:0;margin:0;}
.tem23-title .subtitle{background-color:#FFF;color:#333;padding:.5em .3em;line-height:1 !important;font-size:10px;letter-spacing:0.3em;display:inline-block;box-shadow:0 5px 10px rgba(11, 11, 11, 0.1);font-size:12px;}
.tem23-title .title{font-size:42px;line-height:1 !important;padding:.4em 0 .2em;}
.tem23-title .description{font-size:16px;line-height:1.5 !important;letter-spacing:.11em;color:#CCC;}
.content-left .tem23-title{text-align:left;}
.content-middle .tem23-title{text-align:center;}
.content-right .tem23-title{text-align:right;}
@media (max-width: 768px){
    .tem23-title{padding-left: 2%!important;padding-right: 2%!important;}
    .full-screen-spacing .full-screen .tem23-title{padding-left: 3%!important;padding-right: 3%!important;}
}

