/*tem05-title*/
.tem05-title{text-align:center;}
.tem05-title .subtitle{font-size:13px;line-height:30px;color:#888;}
.tem05-title .more{display:none;}
.tem05-title.tem11-title .subtitle::after{position: absolute;content: "";border-bottom: 1px solid;border-color:inherit;width: 100%;left:0;bottom:-10px;opacity: .2;}
@media (max-width: 768px){
    .tem05-title .tem05-list-title{padding-left: 2%!important;padding-right: 2%!important;}
    .tem05-title.full-screen-spacing .full-screen .tem05-list-title{padding-left: 3%!important;padding-right: 3%!important;}
}
/*tem05-list-title*/
.mainlist .tem05-list-title,
.maindetail .tem05-list-title{text-align:center;padding:15px 0;}
.mainlist .tem05-list-title .subtitle,
.maindetail .tem05-list-title .subtitle{line-height:30px;color:#888;}
.mainlist .tem05-list-title .more,
.maindetail .tem05-list-title .more{display:none;}
